---

---
<main class=" bg-cover bg-center" style={{backgroundImage: "url(./main-bg.png)"}}>
    <h3 class="text-center text-[40px] font-bold pt-10">My projects</h3>
    <div class="flex flex-col  items-center gap-16 mt-10">
        <div class="flex flex-col justify-end items-center gap-6 w-[1000px] h-[450px] bg-cover bg-center rounded-[25px] pb-6" style={{backgroundImage: "url(./bg-project1.png)"}}>
            <div class="flex gap-6">
                <a href="https://felipereyr.github.io/Vision/" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    VISIT
                </a>
                <a href="https://github.com/felipereyr/Vision" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    DETAILS
                </a>
            </div>
        </div> 
        <div class="flex flex-col justify-end items-center gap-6 w-[1000px] h-[450px] bg-cover bg-center rounded-[25px] pb-6" style={{backgroundImage: "url(./ejemplo.png)"}}>
            <div class="flex gap-6">
                <a href="https://felipereyr.github.io/CH-Valquirias/" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    VISIT
                </a>
                <a href="https://github.com/felipereyr/CH-Valquirias" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    DETAILS
                </a>
            </div>
        </div> 
        <div class="flex flex-col justify-end items-center gap-6 w-[1000px] h-[450px] bg-cover bg-center rounded-[25px] mb-16 pb-6" style={{backgroundImage: "url(./cafeteria.png)"}}>
            <div class="flex gap-6">
                <a href="https://felipereyr.github.io/Cafeteria/" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    VISIT
                </a>
                <a href="https://github.com/felipereyr/Cafeteria/tree/master" target="_blank" class="text-center text-white uppercase text-[16px] px-[44px] py-[17px] cursor-pointer bg-[linear-gradient(-45deg,_#000000,_#848484)]  hover:bg-[linear-gradient(-45deg,_#266078,_#131B24)]">
                    DETAILS
                </a>
            </div>
        </div> 
    </div>
    <h4 class="text-center text-[30px] font-bold pb-10">I will update the list soon!</h4>
</main>